# ignore environment files and local data for each stack
# stacks/*/.env  <-- tracked by repo for stacks where we choose to commit .env
stacks/*/.env.local

# ignore any data directories inside stacks
stacks/*/data/
