# Host-specific deployment configuration
DATA_DIR=/opt/data/minecraft-java/data

VERSION="26.2"
DIFFICULTY="easy"
MODE="survival"
MAX_PLAYERS="10"
OPS="fourdirections,wifuy"
WHITELIST="fourdirections,wifuy"
INIT_MEMORY="2G"
MAX_MEMORY="4G"

# RCON
RCON_PASSWORD=changeme
