version: "3.8"

services:
  proxy:
    image: caddy:2
    container_name: internal-proxy
    ports:
      - "80:80"    # expose if clients on LAN/Internet need it
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - internal

volumes:
  caddy_data:
  caddy_config:

networks:
  internal:
    driver: bridge
    name: internal   # created along with the proxy stack
