version: "3.8"

services:
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    network_mode: "host"           # allows the daemon to configure the host interface
    privileged: true
    volumes:
      - /var/lib/tailscale:/var/lib/tailscale
    command: tailscaled
    restart: unless-stopped

  jellyfin:
    image: linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000 # Replace with your user ID
      - PGID=1000 # Replace with your group ID
      - TZ=America/Los_Angeles # Replace with your timezone
    volumes:
      - /mnt/fast-pool-01/appdata/jellyfin/config:/config # Replace with your config path
      - /mnt/fast-pool-01/appdata/jellyfin/cache:/cache # Replace with your cache path
      - /mnt/bulk-pool-01/data/media:/data # Replace with your media path
    devices:
      - /dev/dri:/dev/dri # Pass the Intel GPU device
    group_add:
      - "44" # Add the 'video' group (or the group owning /dev/dri/renderD128)
    networks:
      - internal
    ports:
      - 8096:8096  # allow direct LAN clients to reach Jellyfin
    restart: unless-stopped


networks:
  internal:
    external: true
