# Host-specific deployment configuration
DATA_DIR=/opt/data/minecraft-vanilla-plus/data

VERSION="26.2"
SEED="-4732980175442237833"
DIFFICULTY="hard"
MODE="survival"
MAX_PLAYERS="10"
OPS="fourdirections,wifuy,fourtytwo"
WHITELIST="fourdirections,wifuy,fourtytwo"
INIT_MEMORY="2G"
MAX_MEMORY="4G"

# RCON
RCON_PASSWORD=changeme
